.container{
    
}
.background-image-section{
    background-image: linear-gradient( rgb(0,0,0,0.5) , rgb(0,0,0,0.5)),url('../../images/hero_2.jpg');
    height: 90vh;
    background-size: contain;
    background-position: center;
    padding: 30px 50px;
    animation-name: background-animation;
    animation-duration: 3ms;
}
.background-image-section--h1--lagrge{
    padding-top: 15%;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 40px;;
    margin: 0
}
.background-image--section--p-small{
    color: #909597;
    font-size: 20px;
    margin: 0;
    line-height: 40px;
}
.category-listing{
    background-color: #fff;
}
@keyframes background-animation{
    10%{
        background-position: fixex;
    }
    30%{
        background-position: scroll;
    }
    70%{
        background-position: fixed;
    }
    90%{
        background-position: scroll;
    }
}